{{define "content"}}
<h1>Post Düzenle
<a href="/admin" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i>Geri Dön</a>
</h1>
<hr>
<form action="/admin/update/{{.Post.ID}}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label>Blog Başlığı</label><br>
    <input type="text" name="blog-title" class="form-control" value="{{.Post.Title}}">
  </div>
  <div class="form-group">
    <label>Blog Açıklaması</label><br>
    <textarea name="blog-desc" cols="30" rows="2" class="form-control">{{.Post.Description}}</textarea>
  </div>
  <div class="form-group">
    <label>Kategori</label><br>
    <select name="blog-category" class="form-control">
      <option value="1">Teknoloji</option>
      <option value="2">Futbol</option>
    </select>
  </div>
  <div class="form-group">
    <img src="/{{.Post.Picture_url}}" width="100px" class="my-2" id="current-picture">
    <label>Blog Görseli</label><br>
    <input type="file" name="blog-picture" class="form-control-file" id="file-upload">
    <input type="hidden" name="is_selected" id="is_selected" value="0">
  </div>
  <div class="form-group">
    <label>Blog İçeriği</label><br>
    <textarea name="blog-content" id="summernote" cols="30" rows="2" class="form-control">{{.Post.Content}}</textarea>
  </div>
  <button type="submit" class="btn btn-outline-success w-100 my-3">Post Güncelle</button>
</form>
<script>
  document.getElementById("file-upload").addEventListener("change",function(){
    document.getElementById("is_selected").setAttribute("value","1")
    document.getElementById("current-picture").style.display="none"
  })
</script>
{{end}}